 body, html{
background: linear-gradient(black, steelblue);
height: 100%;
  margin: 0;
  font-family: sans-serif;
} 

#BGimage {

    position: absolute;
    background-image: url(imagesBD.jpg);
    background-size: cover;
    background-position: center;
    left: 0;
    right: 0;
    top: 0;
  height: 400px;
  border-bottom: 4px solid black;
  z-index: 1;
}


#idform {
	position: absolute;

  border-radius: 10px;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.6);
  border: groove 2px #8e9687;
  background: dimgrey;
  padding: 0 2%;
    width: 280px;
    height: 180px;
  /* background-image: url(image-a-la-une_les-heros-de-la-bd-776x390.jpg);
  background-size: 30% 60%;
  background-position: right 15% bottom 30%;
  background-repeat: no-repeat; */
  z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#btnConnexion {
  text-transform: uppercase;
  cursor: pointer;
  background: rgb(184, 178, 178);
  border: 2px solid rgb(49, 129, 221);
  border-radius: 25px / 40px;
  margin-left: 40px;
  margin-right: 35px;
  margin-top: 5px;
}
#btnConnexion:hover {
  box-shadow: 0px 0px 15px rgb(49, 129, 221);
}

div input {	
	margin: 10px 0 5px 0;
	border-radius: 5px;
	background-color: rgb(184, 178, 178);
}
