body {
  background-color: black;
height: 100%;
  margin: 0;

}


#BGimage {
  display: flex;
    position: absolute;
    background-image: url(imagesBD.jpg);
    background-size: cover;
    background-position: center;
    left: 0;
    right: 0;
    top: 0;
  height: 400px;
  z-index: auto;
  
}


#idform {
  display: flex;
  justify-content: center;
  width: 20%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: 8px 8px 12px #aaa;
  -moz-box-shadow: 8px 8px 12px #aaa;
  -webkit-box-shadow: 8px 8px 12px #aaa;
  border-color: #8e9687;
  border: groove 2px;
  background: rgb(184, 178, 178);
  padding: 0 2%;
  height: 150px;
  align-items: center;
  -webkit-align-items: center;
  margin-left: 40%;
  margin-top: 35%;
  background-image: url(wow.jpg);
  background-size: 30% 60%;
  background-position: bottom right;
  background-repeat: no-repeat;
  z-index: auto;
  
}
#btnConnexion {
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  background: transparent;
  border: 2px solid rgb(49, 129, 221);
  border-radius: 25px / 40px;
  margin-left: 40px;
  margin-right: 35px;
  margin-top: 5px;
}
#btnConnexion:hover {
  box-shadow: 0px 0px 15px rgb(49, 129, 221);
}

