* {
  margin: 0;

  padding: 0;
}
body,
html {
  background: linear-gradient(black, steelblue);
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  color: white;
  overflow: auto;
}

#BGimage {
  position: relative;
  background-image: url(imagesBD.jpg);
  background-size: cover;
  background-position: center;
  left: 0;
  right: 0;
  top: 0;
  height: 400px;
  border-bottom: 4px solid black;
  z-index: 1;
}

.navigation {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(black, steelblue);
  position: fixed;
  width: 100%;
  height: 52px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
  font-family: "Times New Roman", Times, serif;
  color: white;
  z-index: 2;
}
.navigation a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-right: 1px solid #bbb;
  height: 52px;
}
#menu {
  margin-top: 0;
}

li {
  float: left;
  list-style-type: none;
  height: 52px;
}
li:last-child {
  border-right: none;
  float: right;
}

#menu a:hover,
#menu a:focus {
  color: #bdd7b5;
  background-color: rgb(61, 71, 211);
  cursor: pointer;
}
#main {
  max-width: 1280px;
  min-height: 100%;
  margin: 0 auto;
  position: relative;
  
}
h3{
  color: white;
}
footer {
  background: linear-gradient(steelblue,black);
  color:white;
  position:fixed;
  bottom: 0;
  margin: 0;
  width: 100%;
  height: 50px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
  z-index: 2
}

.dropdown:hover > #cart-dropdown{
  display: block;
}

#Panier{
  position: absolute;
margin-top: 50px;
}
#compte_rebours_calendrier_journalier{
  background-color: transparent;
  width:300px;
  height:40px;
  
}
#Image-construction{
  position: relative;
  background-image: url(unnamed.jpg);
  background-size: cover;
  background-position: center;
  left: 0;
  right: 0;
  top: 0;
  height: 400px;
  border-bottom: 4px solid black;
  z-index: 1;
}
#RandomImage{
  position: relative;
  background-size: cover;
  background-position: center;
  left: 0;
  right: 0;
  top: 0;
  height: 400px;
  border-bottom: 4px solid black;
  z-index: 1;
}
@media (max-width: 600px){
  .navigation {
      font-size: 0.6em;
      text-align: center;
  }
}
